.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150%;

    background-color: aqua;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150%;
    background-color: beige;
}
div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
